* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #000;
	color: #fff;
}
.container {
	margin: auto;
	max-width: 840px;
}
.container-top {
	display: flex;
	justify-content: space-between;
}
.top-line {
	position: absolute;
	width: 100%;
	z-index: 10;
	padding: 1.7rem 0;
}
.logo {
margin-top: -10px;
	width: 54px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .75;
}
.logo img{
	width: 65px;
	height: auto;
}
.main-mnu {
	display: flex;
	margin-top: 5px;
	font-size: 19px;
	margin-right: -16px;
	background-color: #000;
}
.main-mnu li {
	list-style: none;
}
.main-mnu a {
	color: #bbbec9;
	padding: 16px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	font-weight: 200;
	outline: none;
}
.main-mnu a:hover {
	color: #36373c;
}
.search {
    position: relative;
    width: 360px;
    height: 60px;
    background: #fff;
    border-radius: 20px;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 725px;
    margin-top: -600px;
}
.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
}
.search .icon::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid #000;
    border-radius: 50%;
    transform: translate(-2px, -2px);

}
.search .icon::after {
    position: absolute;
    content: '';
   background-color: #000;
   width: 2px;
    height: 1px;
    border: 3px solid #000;
    transform: translate(8px, 8px) rotate(-45deg);
}
.search.active {
    width: 360px;
}
.search .input {
    position: relative;
    width: 100px;
    height: 60px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .input input {
    position: absolute;
   top: 0;
   left: 0;
   outline: 0;
   border: 0;
   width: 100%;
   height: 100%;
   font-size: 18px;
   padding: 8px 0;
}
.searchscreen {
    margin-top: 6%;

}
.clear {
    position: absolute;
    top:39%;
    right: -165px;
width: 15px;
height: 15px;
border: 0;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;

}
.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(-45deg);
}
.logonews img {
    position: absolute;
    margin-top: -20%;
    margin-left: 30.5%;
 
}
.logonews img:hover{
    filter: drop-shadow(12px 8px 5px );
}
.logonews h1 {
    position: absolute;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -15.5%;
    margin-left: 48%;
}
.logonewsimg img {
    position: absolute;
   margin-top: -18%;
   margin-left: 35%;
}
.logonews.active {
    background-color: rgb(255, 255, 255) / 35;
}
.newspage {
    background-color: color-mix(in srgb, blue percentage, yellow percentage);
    margin-top: 30%;
    margin-left: 40%;
}
.newspage h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}
.left-new {
    z-index: 1;
    position: absolute;
    width:270px;
    height: 270px;
    background-color: black;
    margin-top: -50%;
cursor: pointer;
border-radius: 25px;
filter: drop-shadow(12px 8px 4px black);
backdrop-filter: blur(0.5s);
opacity: 80%;
margin-left: 1%;
padding: 10px 8px -5px;


}
.left-news {
    display: table;
    padding-left: 3%;
}

.left-news img {
width: 256px;
margin-left: 5%;
margin-top: 10%;
border-radius: 10px;
} 
.left-news h2 {
   margin-top: 5%;
   margin-left: 5%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-new:active {
    width:320px;
    height: 320px;
    border-radius: 25px;
}
.left-new:hover {
    scale: 1.2;
   opacity: 100%;
    border-radius: 25px;
    background-color: #000;
    width: 300px;
height: 400px;
}
.right-new {
    z-index: 1;
    position: absolute;
    width:270px;
    height: 270px;
    background-color: black;
    margin-top: -50%;
cursor: pointer;
border-radius: 25px;
filter: drop-shadow(12px 8px 4px black);
backdrop-filter: blur(0.5s);
opacity: 80%;
margin-left: 1%;
padding: 10px 8px -5px;
}
.right-news {
    display: table;
    padding-left: 79%;
}

.right-news img {
width: 256px;
margin-left: 5%;
margin-top: 10%;
border-radius: 10px;
} 
.right-news h2 {
   margin-top: 5%;
   margin-left: 5%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.right-new:active {
    width:320px;
    height: 320px;
    border-radius: 25px;
}
.right-new:hover {
    scale: 1.2;
   opacity: 100%;
    border-radius: 25px;
    background-color: #000;
    width: 300px;
height: 400px;
}
.new {
    color: #000;
 background-color: #fff;
    width: 360px;
    height: 360px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left:70px;
   padding-top: 100px;
   border-radius: 25px;
   margin-left:40% ;
   margin-top: 1%;
   width: 560px;
   height: 560px;
   opacity: 90%;
cursor: pointer;
display: grid;
}

.new img {
    width: 440px;
}
.new h2 {
    font-size: 70px;
}
.new p {
    font-size: 20px;
}
.newspage {
    color: white;
    top: 100%;
   
}
.newlast {
    color: #000;
 background-color: #fff;
    width: 560px;
    height: 560px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left:70px;
   padding-top: 100px;
   border-radius: 25px;
   margin-top: 1%;
margin-left: 40%;
opacity: 90%;
cursor: pointer;
}
.newlast img {
    width: 440px;
    
}
.newlast h2 {
    font-size: 70px;
}
.newlast:hover  {
    opacity: 100%;
    width: 760px;
}
.new:hover {
    transition: scale(1.2);
    opacity: 100%;
    width: 760px;
}
.newlast:active {
    cursor: progress;
}
